<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />

    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />

    <link rel="stylesheet" href="assets/css/lnr-icon.css" />

    <link rel="stylesheet" href="assets/css/font-awesome.min.css" />

    <link rel="stylesheet" href="assets/plugins/select2/select2.min.css" />

    <link rel="stylesheet" href="assets/css/style.css" />
    <title>Employees Page</title>

    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="inner-wrapper">
      <!--  header partials  -->
      <%- include('partials/header'); %>

      <div class="page-wrapper">
        <div class="container-fluid">
          <div class="row">
            <!--  side bar aside tag -->
            <%- include('partials/aside'); %>

            <div class="col-xl-9 col-lg-8 col-md-12">
              <div id="addEmployeeFormContainer" class="d-none">
                  <%- include('add-employee'); %>
              </div>
              <div id="editEmployeeFormContainer" class="d-none">
                  <%- include('edit-employee'); %>
              </div>
              <div id="employeeDisplayContainer" class="">
              <div class="quicklink-sidebar-menu ctm-border-radius shadow-sm grow bg-white card">
                <div class="card-body">
                  <ul class="list-group list-group-horizontal-lg">
                    <li class="list-group-item text-center active button-5">
                      <a href="/" class="text-white">All</a>
                    </li>
                    <li class="list-group-item text-center button-6">
                      <a class="text-dark" href="/employees-team">Teams</a>
                    </li>
                    <li class="list-group-item text-center button-6">
                      <a class="text-dark" href="/employees-offices">Offices</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="card shadow-sm grow ctm-border-radius">
                <div class="card-body align-center">
                  <h4 class="card-title float-left mb-0 mt-2"><%= totalEmployee %> Employees</h4>
                  <ul class="nav nav-tabs float-right border-0 tab-list-emp">
                    <li class="nav-item">
                      <a
                        class="nav-link active border-0 font-23 grid-view"
                        href="/"
                        ><i class="fa fa-th-large" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link border-0 font-23 list-view"
                        href="/employees-list"
                        ><i class="fa fa-list-ul" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li class="nav-item pl-3">
                      <a
                        href="#"
                        id="addEmployeeBtn"
                        class="btn btn-theme button-1 text-white ctm-border-radius p-2 add-person ctm-btn-padding"
                        ><i class="fa fa-plus"></i> Add Person</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
              <div class="card shadow-sm grow ctm-border-radius">
                <div class="card-body align-center">
                  <!-- <h4 class="card-title float-left mb-0 mt-2">7 People</h4> -->
                  <ul class="nav nav-tabs d-flex justify-content-between border-0 tab-list-emp">
                    <li class="nav-item">
                      <a href=""
                        id="previousEmployeeRecord"
                        class="btn btn-theme button-1 text-white ctm-border-radius p-2 ctm-btn-padding">
                        <i class="fa fa-angle-double-left"></i> Prev </a>
                    </li>
                    <li class="nav-item pl-3">
                      <h4 class="card-title float-left mb-0 mt-2" id="employeeRecordPageCount" data-page="1">1</h4>
                    </li>
                    <li class="nav-item">
                      <a href=""
                        id="nextEmployeeRecord"
                        class="btn btn-theme button-1 text-white ctm-border-radius p-2 ctm-btn-padding">
                        Next <i class="fa fa-angle-double-right"></i> </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="grow ctm-border-radius"> 
                <div class="input-group mb-3 col-4 row d-flex justify-content-end d-block">
                  <h4 class="card-title float-left mb-0 mt-2"> No of record: </h4>
                  <input type="number" class="form-control" placeholder="No of record" pattern="[0-9]+" id="employeeRecordLimit" value="9">
                  <div class="input-group-append">
                    <button class="btn btn-theme button-1 text-white ctm-border-radius p-2 ctm-btn-padding" id="employeeRecordLimitBtn" type="button">Button</button>
                  </div>
                </div>
              </div>
              <div class="ctm-border-radius shadow-sm grow card">
                <div class="card-body">
                  
                  <div class="row people-grid-row" id="displayEmployeeDetails">

                    <div class="col-md-6 col-lg-6 col-xl-4" >
                      <div class="card widget-profile">
                        <div class="card-body">
                          <div class="pro-widget-content text-center">
                            <div class="profile-info-widget">
                              <a href="employment.html" class="booking-doc-img">
                                <img
                                  src="assets/img/profiles/img-6.jpg"
                                  alt="User Image"
                                />
                              </a>
                              <div class="profile-det-info">
                                <h4>
                                  <a href="employment.html" class="text-primary"
                                    >Maria Cotton</a
                                  >
                                </h4>
                                <div>
                                  <p class="mb-0"><b>PHP Team Lead</b></p>
                                  <p class="mb-0 ctm-text-sm">
                                    <a
                                      href="https://dleohr.dreamguystech.com/cdn-cgi/l/email-protection"
                                      class="__cf_email__"
                                      data-cfemail="bcd1ddced5dddfd3c8c8d3d2fcd9c4ddd1ccd0d992dfd3d1"
                                      >[email&#160;protected]</a
                                    >
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- delete concent modal -->
    <div id="EmployeeDeleteConcentModal">
      <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Delete Employee</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-theme ctm-border-radius text-white" data-dismiss="modal"> Close </button>
              <button type="button" class="btn btn-theme ctm-border-radius text-white" data-dismiss="modal" id="employeeConfirmDelete"> Delete </button>
            </div>
          </div>
        </div>
      </div>  
    </div>

    <!-- success/error message popup -->
          <!-- <div class="toast align-items-center text-white bg-primary border-0 " role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
              <div class="toast-body">
                
              </div>
              <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
          </div> -->
    <!-- -->

        


    <div class="sidebar-overlay" id="sidebar_overlay"></div>

    <script src="assets/js/jquery-3.2.1.min.js"></script>

    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/additional-methods.min.js"></script>

    <script src="assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

    <script src="assets/plugins/select2/moment.min.js"></script>
    <script src="assets/js/bootstrap-datetimepicker.min.js"></script>

    <script src="assets/plugins/select2/select2.min.js"></script>

    <script src="assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
    
    <script src="assets/js/script.js"></script>
    <script src="assets/js/add-employee.js"></script>
    <script src="assets/js/edit-employee.js"></script>

    <script>
      // change view between add employee form and display employee 
      $('#addEmployeeBtn').click((event) => {
        event.preventDefault();
        $('#addEmployeeFormContainer').removeClass('d-none');
        $('#employeeDisplayContainer').addClass('d-none');
      });

      $('#cancelEdit').click((event) => {
        event.preventDefault();
        $('#editEmployeeFormContainer').addClass('d-none');
        $('#employeeDisplayContainer').removeClass('d-none');
      });

      const deleteButton = (id, name) => {
        //console.log(id);
        $('#EmployeeDeleteConcentModal').find('.modal-body').html(`<p> Employee <b>${name}</b> will get deleted.are you sure? </p>`);
        $('#employeeConfirmDelete').click((event) => {
          
          $.ajax({
            type: 'DELETE',
            url: '/employees/',
            data: {
              id: id,
            },
            success: (data) => {
              console.log(data);
              location.reload();
            },
            error: (error) => {
              console.log(error);
            }
          });
        });
      };

      const editButton = (id) => {
        $.ajax({
          type: 'GET',
          url: `/employees/${id}`,
          success: ({ data }) => {

            // remove employee display and show edit div
            $('#editEmployeeFormContainer').removeClass('d-none');
            $('#employeeDisplayContainer').addClass('d-none');
            console.log(id);
            console.log(data);
            // change edit div and add edit and cancel button;
            const form = $('#editEmployeeFormContainer');
            form.data('id', id);
            form.find('#lastName').val(data.lastName);  
            form.find('#firstName').val(data.firstName);  
            form.find('#middleName').val(data.middleName);  
            form.find('#email').val(data.email).prop('disabled', true);
            form.find("input[type='radio'][name='gender']:checked").val(data.gender);  
            form.find('#dob').val(data.DOB.split('T')[0]);  
            form.find('#role').val(data.role);  
            form.find('#joiningDate').val(data.joiningDate.split('T')[0]);  
            form.find('#totalExp').val(data.totalExp);  

            form.find('#collage').val(data.EmployeeAcademic.collage);  
            form.find('#highestQualification').val(data.EmployeeAcademic.highestQualification);  
            form.find('#university').val(data.EmployeeAcademic.university);  
            form.find('#knownTech').val(data.EmployeeAcademic.knownTech);
              
            form.find('#secondaryEmail').val(data.EmployeeContact.secondaryEmail);  
            form.find('#contactNo').val(data.EmployeeContact.contactNo);  
            form.find('#houseNo').val(data.EmployeeContact.houseNo);  
            form.find('#addressLine1').val(data.EmployeeContact.addressLine1);  
            form.find('#addressLine2').val(data.EmployeeContact.addressLine2);  
            form.find('#landmark').val(data.EmployeeContact.landmark);  
            form.find('#state').val(data.EmployeeContact.state);  
            form.find('#pincode').val(data.EmployeeContact.pincode);  
            form.find('#city').val(data.EmployeeContact.city);  
            form.find('#country').val(data.EmployeeContact.country);  
            form.find('#preEmployer').val(data.EmployeePreWork.previousEmployer);  
            form.find('#preEmployerAddress').val(data.EmployeePreWork.employerAddress);   
            form.find('#workingTimeInYear').val(Number(data.EmployeePreWork.workingTime.split(' ')[0]));
            form.find('#workingTimeInMonth').val(Number(data.EmployeePreWork.workingTime.split(' ')[2]));
          },
          error: (error) => {
            // display toast for error
            console.log(error);
          }
        });
      };

      $(document).ready(() => {
        
        $('#previousEmployeeRecord').click((event) => {
          event.preventDefault();
          const page = $('#employeeRecordPageCount').data('page') - 1;
          $('#employeeRecordPageCount').data('page', page);
          $('#employeeRecordPageCount').text(page);
          displayEmployee();
        });

        $('#nextEmployeeRecord').click((event) => {
          event.preventDefault();
          const page = $('#employeeRecordPageCount').data('page') + 1;
          $('#employeeRecordPageCount').data('page', page);
          $('#employeeRecordPageCount').text(page);
          //console.log(page)
          displayEmployee();
        });

        $('#employeeRecordLimit,#employeeRecordLimitBtn').click((event) => {
          displayEmployee();
        });

        const displayEmployee =  () => {
          $('#displayEmployeeDetails').html("");
          const page = $('#employeeRecordPageCount').data('page');
          const limit = $('#employeeRecordLimit').val();
          //console.log('limit', limit);
          $.ajax({
            type: 'GET',
            url: `/employees?page=${page}&limit=${limit}`,
            success: (result) => {
              //console.log(result.data);
              $('#previousEmployeeRecord').removeClass('disabled');
              $('#nextEmployeeRecord').removeClass('disabled');
              if(!result.data.pre){
                $('#previousEmployeeRecord').addClass('disabled');
              }
              if(!result.data.next){
                $('#nextEmployeeRecord').addClass('disabled');
              }
              result.data.employee.forEach(element => {
                //console.log(element);
                const tech = element.EmployeeAcademic?.knownTech || "tech";
                $('#displayEmployeeDetails').append(
                      `<div class="col-md-6 col-lg-6 col-xl-4">
                        <div class="card widget-profile">
                          <div class="card-body">
                            <div class="pro-widget-content text-center">
                              <div class="profile-info-widget">
                                <a href="employment.html" class="booking-doc-img">
                                  <img
                                    src="assets/img/profiles/img-6.jpg"
                                    alt="User Image"
                                  />
                                </a>
                                <div class="profile-det-info">
                                  <h4>
                                    <a href="employment.html" class="text-primary"
                                      >${ element.firstName } ${ element.lastName }</a
                                    >
                                  </h4>
                                  <div>
                                    <p class="mb-0"><b>${ tech }</b></p>
                                    <p class="mb-0 ctm-text-sm">
                                      ${ element.email }
                                    </p>
                                    <p class="mb-0 ctm-text-sm">
                                      <b>Role</b>
                                      ${ element.role }
                                    </p>
                                  </div>
                                </div>
                              </div>
                                  <div class="team-action-icon float-right">
                                      <button type="button" 
                                        class="btn btn-theme ctm-border-radius text-white" 
                                        title="Edit"
                                        onclick="editButton('${element.id}')"
                                        id="employeeEditButton" >
                                        <i class="fa fa-pencil"></i>
                                      </button>
                                      <button type="button" 
                                        class="btn btn-theme ctm-border-radius text-white" 
                                        title="Delete"
                                        onclick="deleteButton('${element.id}', '${ element.firstName } ${ element.lastName }')"
                                        id="employeeDeleteButton" 
                                        data-toggle="modal" 
                                        data-target="#delete">
                                        <i class="fa fa-trash"></i>
                                      </button>
                                    </div>
                            </div>
                          </div>
                        </div>
                      </div>`
                  );
              });
            },
            error: (err) => {
              console.log(err);
            }
          });
        }
        displayEmployee();
      });
      
    </script>
    <script>
      
    </script>
  </body>
</html>
